Repository xavibenjamin/project-stardust: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:css, npm run lint:js, npm run lint:php

update grid
  assets/styles/utils/grid.css
Due: npm run lint:css

version bump
  functions.php
  package.json
Due: npm run lint:php

feat: update grid with new type ramp (#49)
  assets/styles/base/type.css
  assets/styles/base/vars.css
  assets/styles/components/entry.css
  assets/styles/utils/grid.css
  footer.php
  functions.php
  package.json
Due: npm run lint:css, npm run lint:php

add semantic-release and config
  package-lock.json
  package.json
Due: none

update tag and release action
  .github/workflows/tag-release.yml
Due: none

remove commented code
  .github/workflows/tag-release.yml
Due: none

remove npm token
  .github/workflows/tag-release.yml
Due: none

remove npm plugin
  package.json
Due: none

add back on attr
  .github/workflows/tag-release.yml
Due: none

add back config to run action on main
  .github/workflows/tag-release.yml
Due: none

feat: update release actions to comment on released pull requests (#51)
  .github/workflows/tag-release.yml
  package-lock.json
  package.json
Due: none

remove dry run and extra branches from config
  package.json
Due: none

fix: remove dry run and extra branches from config (#52)
  package.json
Due: none

Notes added by 'git notes add'
  349c07f3f50696592a6f2cf7169b371faa11db11
Due: none

update gallery
  assets/styles/components/wp-block-gallery.css
Due: npm run lint:css

update gallery (#53)
  assets/styles/components/wp-block-gallery.css
Due: npm run lint:css

fix padding at bottom of content area
  assets/styles/base/type.css
  assets/styles/components/photo-grid.css
  assets/styles/components/site-content.css
  assets/styles/components/site-header.css
Due: npm run lint:css

Update functions.php
  functions.php
Due: npm run lint:php

fix: padding at bottom of content (#56)
  assets/styles/base/type.css
  assets/styles/components/photo-grid.css
  assets/styles/components/site-content.css
  assets/styles/components/site-header.css
  functions.php
Due: npm run lint:css, npm run lint:php

Notes added by 'git notes add'
  58821cc0b7abde4a853d993053c0d99134afc536
Due: none

Create CHANGELOG.md
  CHANGELOG.md
Due: none

add plugins for semantic release
  package-lock.json
  package.json
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Update tag-release.yml
  .github/workflows/tag-release.yml
Due: none

fix: update release and deploy pipeline (#58)
  .github/workflows/deploy.yml
  .github/workflows/tag-release.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): 0.4.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  5e0119ee17301466eeb669a48ed7784229c6c18f
Due: none

Update functions.php (#59)
  functions.php
Due: npm run lint:php

remove unnecessary check for paged
  template-parts/pagination.php
Due: npm run lint:php

update pagination grid column on photos
  assets/styles/components/pagination.css
Due: npm run lint:css

fix: pagination missing on photos page (#60)
  assets/styles/components/pagination.css
  template-parts/pagination.php
Due: npm run lint:css, npm run lint:php

chore(release): 0.4.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  dd1123003e97a58755407f524d7e7a610c3c67b1
Due: none

add new sync icon
  template-parts/svg/icon-sync.php
Due: npm run lint:php

refactor data functions for last fm
  includes/data/last-fm.php
Due: npm run lint:php

refactor data function for letterboxd
  includes/data/letterboxd.php
Due: npm run lint:php

update last fm partial with new data structure
  template-parts/about/last-fm.php
Due: npm run lint:php

update letterboxd partial with new data structure
  template-parts/about/letterboxd.php
Due: npm run lint:php

update card meta with new rewatch icon
  assets/styles/components/card.css
Due: npm run lint:css

Path conditions:
  npm run lint:css: any of: *.css
  npm run lint:js: (any of: *.js) or (any of: *.jsx)
  npm run lint:php: any of: *.php
