Repository xavibenjamin/project-stardust: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:css, npm run lint:js, npm run lint:php

add pre-commit hook
  .husky/pre-commit
Due: none

update type on small screens
  assets/styles/base/type.css
Due: npm run lint:css

add new line height var
  assets/styles/base/vars.css
Due: npm run lint:css

remove newsletter bar
  footer.php
Due: npm run lint:php

small updates to header
  assets/styles/components/site-header.css
  assets/styles/components/site-id.css
Due: npm run lint:css

update grid with new column and auto row size
  assets/styles/utils/grid.css
Due: npm run lint:css

remove about cover
  assets/styles/components/about-cover.css
  assets/styles/components/index.css
Due: npm run lint:css

update markup of about template
  page-about.php
Due: npm run lint:php

style about page template
  assets/styles/base/vars.css
  assets/styles/components/card.css
  assets/styles/components/entry.css
  assets/styles/utils/has-medium-font-size.css
  assets/styles/utils/index.css
  assets/styles/utils/sidebar-section.css
Due: npm run lint:css

update deploy action to create deployment and update status
  .github/workflows/deploy.yml
Due: none

update deploy action to create deployment and update status (#38)
  .github/workflows/deploy.yml
Due: none

remove extra deployment steps
  .github/workflows/deploy.yml
Due: none

add new tag and release workflow
  .github/workflows/tag-release.yml
Due: none

update tag and release workflow to only happen on main
  .github/workflows/tag-release.yml
Due: none

feat(stardust): add new tag and release workflow (#39)
  .github/workflows/deploy.yml
  .github/workflows/tag-release.yml
Due: none

feat(stardust): update release workflow
  .github/workflows/tag-release.yml
Due: none

feat(stardust): update release workflow (#40)
  .github/workflows/tag-release.yml
Due: none

fix: update typo in workflow
  .github/workflows/tag-release.yml
Due: none

fix: update typo in workflow (#41)
  .github/workflows/tag-release.yml
Due: none

fix: padding between top of window and content
  assets/styles/components/site-content.css
  assets/styles/components/site-header.css
Due: npm run lint:css

fix: remove old grid break code
  assets/styles/components/photo-grid.css
Due: npm run lint:css

fix: update space between items in feed
  assets/styles/components/site-feed.css
Due: npm run lint:css

fix: update footer grid column
  assets/styles/components/site-footer.css
Due: npm run lint:css

fix: update padding with top of window
  assets/styles/base/type.css
Due: npm run lint:css

fix: update zindex of menu
  assets/styles/components/site-header.css
Due: npm run lint:css

feat: update site header and related components (#42)
  assets/styles/base/type.css
  assets/styles/components/photo-grid.css
  assets/styles/components/site-content.css
  assets/styles/components/site-feed.css
  assets/styles/components/site-footer.css
  assets/styles/components/site-header.css
Due: npm run lint:css

update version
  functions.php
  package.json
Due: npm run lint:php

add widont to site bio
  template-parts/header/site-id.php
Due: npm run lint:php

update sidebar section icon size
  assets/styles/utils/sidebar-section.css
Due: npm run lint:css

update type ramp
  assets/styles/base/type.css
Due: npm run lint:css

wrap snippet entry titles
  assets/styles/components/entry.css
Due: npm run lint:css

update pill type size
  assets/styles/components/pill.css
Due: npm run lint:css

update header max-width
  assets/styles/components/site-header.css
Due: npm run lint:css

update sizes for new type ramp
  assets/styles/components/card.css
  assets/styles/components/site-id.css
  assets/styles/components/site-nav.css
Due: npm run lint:css

fix: update overall type for better readability (#47)
  assets/styles/base/type.css
  assets/styles/components/card.css
  assets/styles/components/entry.css
  assets/styles/components/pill.css
  assets/styles/components/site-header.css
  assets/styles/components/site-id.css
  assets/styles/components/site-nav.css
  assets/styles/utils/sidebar-section.css
  functions.php
  package.json
  template-parts/header/site-id.php
Due: npm run lint:css, npm run lint:php

remove commented code
  assets/styles/base/type.css
Due: npm run lint:css

update the large media query
  assets/styles/base/vars.css
Due: npm run lint:css

adjust aside on about page to grid
  assets/styles/components/entry.css
Due: npm run lint:css

remove smith logo from footer
  footer.php
Due: npm run lint:php

Path conditions:
  npm run lint:css: any of: *.css
  npm run lint:js: (any of: *.js) or (any of: *.jsx)
  npm run lint:php: any of: *.php
